/* App.css */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f9fc;
}

.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
}
