* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.family-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-header h2 {
  font-size: 22px;
}

.main-header p {
  font-size: 14px;
  color: gray;
}


.records-box {
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
}

.records-box h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.no-data {
  text-align: center;
  color: #aaa;
}
